@import url(https://fonts.googleapis.com/css?family=Jost:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

*{
    margin: 0;
    padding: 0;
}
body{
    font-family: jost;
    background-image: url(https://images.pexels.com/photos/5951338/pexels-photo-5951338.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    justify-content: center;
    position: relative;
    height: 700px;
    
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
}
.main-div{
    width: 50%;
    margin: auto;
    padding: 20px 0px 20px 50px;
    align-items: center;
    background-color: rgba(81, 81, 129, 0.027);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    align-items: center;
    margin-top: 100px;
    border-top: 0.5px solid gold;
    border-left: 0.5px solid white;
    border-bottom: 0.5px solid white;
    border-right: 0.5px solid gold;
}

.main-div:hover{
    border-top: 0.5px solid white;
    border-left: 0.5px solid gold;
    border-bottom: 0.5px solid gold;
    border-right: 0.5px solid white;
}

h1{
    text-align: center;
    font-size: 30px;
    color: gold;
}

label{
    color: white;
    font-weight: bold;
}

input[type="text"]{
    width: 80%;
    height: 25px;
    border-radius: 5px;
    margin-bottom: 10px;
}

input[type="datetime-local"]{
    width: 80%;
    height: 25px;
    border-radius: 5px;
    margin-bottom: 10px;
}


button{
    width: 50%;
    height: 25px;
    border-radius: 5px;
    background-color: green;
    color: white;
    font-weight: bold;
    border: 1px solid white;
    margin-bottom: 10px;
    cursor: pointer;
}

.task-list{
    border-radius: 5px;
    width: 80%;
    margin: auto;
    padding: 20px 0px 20px 50px;
    margin-top: 100px;
    background-color: rgba(81, 81, 129, 0.027);
    backdrop-filter: blur(10px);
    border-top: 0.5px solid gold;
    border-left: 0.5px solid white;
    border-bottom: 0.5px solid white;
    border-right: 0.5px solid gold;
}

.task-list:hover{
    border-top: 0.5px solid white;
    border-left: 0.5px solid gold;
    border-bottom: 0.5px solid gold;
    border-right: 0.5px solid white;
}

table, th, td{
    border: 2px solid gold;
    border-collapse: collapse;
}

table{
    width: 90%;
    text-align: center;
    margin: auto;
    color: white;
    
}

caption{
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 30px;
    color: gold;
    cursor: pointer;
}